<div class="item">
  <h2 id="01">1 - Conceito</h2>

  <div class="subject">
    <p>
      HTML (abreviação para a expressão inglesa HyperText Markup Language, que significa: "Linguagem de Marcação de Hipertexto" é uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados por navegadores.
    </p>

    <p>
      HTML utiliza "markup" para anotar texto, imagens, e outro conteúdo para o exibir num navegador da Web. A marcação de HTML inclui "elementos" especiais, tais como &lttitle&gt, &ltbody&gt, &ltheader&gt, &ltfooter&gt, &ltarticle&gt, &ltsection&gt, &ltp&gt, &ltdiv&gt, &ltspan&gt, &ltimg&gt, &ltaside&gt, &ltaudio&gt, &ltcanvas&gt, &ltdatalist&gt, &ltdetails&gt, &ltembed&gt, &ltnav&gt, &ltoutput&gt, &ltprogress&gt, &ltvideo&gt, e muitos outros.
    </p>
  </div>
</div>