<div class="item">
  <h2 id="02">2 - Tag</h2>

  <div class="subject">
    <p>
      Em HTML a tag é usada para criar um elemento. O nome de um elemento HTML é o nome usado entre os sinais de menor e maior como "&ltp&gt" para criar parágrafos. Ao fechar uma tag ela tem uma barra antes de seu nome, "&lt/p&gt", e que em elementos vazios a tag final não é requirida e nem permitida.
    </p>
    <p>
      Nem todos os elementos seguem o padrão acima de: tag de abertura, conteúdo, tag de fechamento.
      <br>
      Alguns elementos consistem apenas em uma única tag, que é geralmente usada para inserir/incorporar algo no documento no lugar em que ele é incluído, são os chamados elementos vazios. Por exemplo, o elemento &ltimg&gt insere uma imagem em uma página na posição em que ele é incluído:
    </p>
    <pre>
      <code>&lt<strong class="pink">img</strong> <strong class="green">src</strong><strong class="pink">=</strong><strong class="yellow">""</strong> <strong class="green">alt</strong><strong class="pink">=</strong><strong class="yellow">""</strong>&gt</code>
    </pre>
  </div>
</div>