.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.techs h1 {
  color: whitesmoke;
  /* text-align: center; */

  margin-bottom: 3rem;
}

.techs .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  max-width: 500px;
  margin: 0 auto;
}

.techs .card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.techs .card a {
  height: 10rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.25rem;

  border: 1px solid dimgray;
  border-radius: 8px;

  color: whitesmoke;
  letter-spacing: 0.1rem;

  transition: 300ms;
}

.techs .card a:hover {
  color: var(--primary-color);

  border: 1px solid var(--primary-color);
}

.techs .card a img {
  margin-bottom: 1rem;

  transition: 300ms;
}

.techs .card a:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.techs .card a p {
  position: relative;

  margin-top: auto;
}

.techs .card a p::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.techs .card a:hover p::after {
  width: 100%;
  transition: width 250ms ease-in-out 200ms;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
}