<footer>
  <p>Pesquisado, escrito e desenvolvido por Jean Monteiro 👨‍💻</p>
  <div class="links">
    <a href="https://www.linkedin.com/in/jeanmont/" target="_blank">
      <img src="/assets/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://github.com/jeanmontt" target="_blank">
      <img src="/assets/github.png" alt="GitHub">
    </a>
    <a href="mailto:jeanmontteiro@gmail.com">
      <img src="/assets/gmail.png" alt="Gmail">
    </a>
  </div>
</footer>