<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>&ltJeanmontt /&gt</h1>
        <h2>
          Estudo Dev
          <img src="/assets/programming.svg" alt="">
        </h2>
      </div>
    </a>
  </div>
</header>